<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="book">
            <h2><span jhiTranslate="ehcMonolithSampleApp.book.detail.title">Book</span> {{ book.id }}</h2>

            <hr>

            <ehc-alert-error></ehc-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ehcMonolithSampleApp.book.name">Name</span></dt>
                <dd>
                    <span>{{ book.name }}</span>
                </dd>
                <dt><span jhiTranslate="ehcMonolithSampleApp.book.position">Position</span></dt>
                <dd>
                    <span>{{ book.position }}</span>
                </dd>
                <dt><span jhiTranslate="ehcMonolithSampleApp.book.author">Author</span></dt>
                <dd>
                    <span>{{ book.author }}</span>
                </dd>
                <dt><span jhiTranslate="ehcMonolithSampleApp.book.detail">Detail</span></dt>
                <dd>
                    <span>{{ book.detail }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/book', book.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
